<h1> <%=@recipe.name%> </h1>
<h2> Ingredients: </h2>
<h4> <%=@recipe.ingredients%> </h4>
<h2> Procedure: </h2>
<h4> <%=@recipe.procedure%> </h4>


<br>
<a href="/recipes/<%=@recipe.id%>/edit"><button>Edit</button></a>


<br><br>
<%@recipe.users == @user%>
<form action="/recipes/<%= @recipe.id %>/delete" method="post">
	<input id="hidden" type="hidden" name="_method" value="delete">
	<button>Delete</button>
</form>


<br>
<a href="/recipes"><button>Home</button></a>
