<h1> <%=@recipe.name%> </h1>
<h3> Ingredients: </h3>
<h5> <%=@recipe.ingredients%> </h5>
<h3> Procedure: </h3>
<h5><%=@recipe.procedure%></h5>





<a href="/recipes/<%=@recipe.id%>/edit"><button class="small button" id="red">Edit</button></a>
<br><br>
<form action="/recipes/<%=@recipe.id%>/delete" method="post">
	<input id="hidden" type="hidden" name="_method" value="delete">
	<button value="delete" class="small button" id="red">Delete</button>
</form>






<br>
<a href="/recipes"><button>Home</button></a>
